<% content_for :title, "New question" %>

<div class="flex flex-col w-full">
  <div class="font-bold text-2xl">新規作成</div>
  <div class="divider divider-neutral"></div>
</div>

<%= render "form", question: @question %>

<br>

<div>
  <%= link_to "一問一答一覧", questions_path, class: "btn" %>
</div>
