<div class="flex flex-col w-full">
  <div class="font-bold text-2xl">ようこそ一問一答アプリへ！</div>
  <div class="divider divider-neutral"></div>
</div>

<p>
  <%= link_to "質問一覧へ", questions_path, class: "btn" %>
</p>
